@page

@{
}

<div>
    <h1>User Detail</h1>

    <table>
        <tr>
            <td>Id</td>
            <td>@ViewBag.User.Id</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>@ViewBag.User.Name</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@ViewBag.User.Email</td>
        </tr>
        <tr>
            <td>Active</td>
            <td>@ViewBag.User.Active</td>
        </tr>
    </table>
    


</div>
